<div id="InsertContainer">

  <div id="test">
    <h1>sdfsdf</h1>
    <p>test</p>
  </div>

</div>








<!--<div id="InsertContainer">-->
<!--  <form class="form">-->
<!--    <h1>Insert a new Fleet</h1>-->

<!--    <mat-form-field appearance="fill">-->
<!--      <mat-label>Title</mat-label>-->
<!--      <input #title matInput>-->
<!--    </mat-form-field>-->

<!--    <mat-form-field appearance="fill">-->
<!--      <mat-label>Description</mat-label>-->
<!--      <input #description matInput>-->
<!--    </mat-form-field>-->

<!--    <mat-form-field appearance="fill">-->
<!--      <mat-label>Type</mat-label>-->
<!--      <input #type matInput>-->
<!--    </mat-form-field>-->

<!--    <mat-form-field appearance="fill">-->
<!--      <mat-label>Cost</mat-label>-->
<!--      <input #cost matInput>-->
<!--    </mat-form-field>-->

<!--    <mat-form-field appearance="fill">-->
<!--      <mat-label>Employee</mat-label>-->
<!--      <input #employee matInput>-->
<!--    </mat-form-field>-->


<!--    <div id="buttonDiv">-->
<!--      <button mat-raised-button type="submit" color="primary">Cancel</button>-->
<!--      <button mat-raised-button type="submit" color="primary" (click)="insert('','','','56')">Insert Skill</button>-->
<!--    </div>-->

<!--  </form>-->

<!--</div>-->










<!--<div id="tableauInsert">-->
<!--  <h2>Insert</h2>-->

<!--  <label>title</label><br>-->
<!--  <input #boxTitle value="56"><br>-->


<!--  <label>description</label><br>-->
<!--  <input #boxDescription value="56"><br>-->


<!--  <label>type</label><br>-->
<!--  <input #boxType value="56"><br>-->


<!--  <label>cost</label><br>-->


<!--  <input #boxCost value="56"><br>-->
<!--  <button (click)="insert(boxTitle.value, boxDescription.value, boxType.value, boxCost.value  )">Click me</button>-->
<!--</div>-->
