<!-- <button (click)="signin()">Signin</button> -->

<div class="login-container">
  <form [formGroup]="formGroup" class="form">
    <h1 class="title">Login</h1>
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input #username matInput type="text" formControlName="username">
      <mat-error *ngIf="formGroup.get('username')?.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input #password matInput type="password" formControlName="password" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="formGroup.get('password')?.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <div class="bottom-text">
      Don't have an account? <a [routerLink]="['/account/signup']">Sign up</a>
    </div>
    <div *ngIf="error" class="error">
      Incorrect credentials, please check your username and password.
    </div>
    <button mat-raised-button type="submit" class="confirm-button" [disabled]="!formGroup.valid" color="accent" (click)="signin(username.value, password.value)">Login</button>
  </form>
</div>
