<div class="form-container">
  <form class="form" [formGroup]="formGroup">
    <h1>Edition of the Document:</h1>
    <h2>{{editDocument.title}}</h2>
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input [(ngModel)]="editDocument.title" [name]="editDocument.title" formControlName="title" matInput>
      <mat-error *ngIf="formGroup.get('title')?.hasError('required')">
        Title is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Path</mat-label>
      <input [(ngModel)]="editDocument.path" [name]="editDocument.path" formControlName="path" matInput>
      <mat-error *ngIf="formGroup.get('path')?.hasError('required')">
        Path is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Content</mat-label>
      <input [(ngModel)]="editDocument.content" [name]="editDocument.content" formControlName="content" matInput>
      <mat-error *ngIf="formGroup.get('content')?.hasError('required')">
        Content is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Type</mat-label>
      <input [(ngModel)]="editDocument.type" [name]="editDocument.type" formControlName="type" matInput>
      <mat-error *ngIf="formGroup.get('type')?.hasError('required')">
        Type is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Date</mat-label>
      <input [(ngModel)]="editDocument.createDate" [name]="editDocument.createDate.toString()" formControlName="createDate" matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="formGroup.get('createDate')?.hasError('required')">
        Date is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" class="companies-form">
      <mat-label>Company</mat-label>
      <mat-select [(ngModel)]="editDocument.company" class="companies-select" formControlName="company">
        <mat-option class="companies-option" *ngFor="let company of companies" [value]="company">
          {{company.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="contract-form">
      <mat-label>Contract</mat-label>
      <mat-select [(ngModel)]="editDocument.contract" class="contract-select" formControlName="contract">
        <mat-option class="contract-option" *ngFor="let contract of contracts" [value]="contract">
          {{contract.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="employees-form">
      <mat-label>Employee</mat-label>
      <mat-select [(ngModel)]="editDocument.employee" class="employees-select" formControlName="employee">
        <mat-option class="employees-option" *ngFor="let employee of employees" [value]="employee">
          {{employee.lastname }} {{employee.firstname}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <div class="button-container">
      <button mat-raised-button color="warn" class="cancel-button" [mat-dialog-close]="true">Cancel</button>
      <button mat-raised-button type="submit" class="confirm-button" [mat-dialog-close]="true" [disabled]="!formGroup.valid" color="accent" (click)="edit()">Edit Document</button>
    </div>
  </form>
</div>
