<div class="document-container">
  <button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon>close</mat-icon>
  </button>
  <div class="header">
    <h2>Document Detail</h2>
  </div>
  <div class="DocumentDetail">
    <pre class="mat">{{'Document ID : ' + this.document.documentId}}</pre>
    <pre class="mat">{{'Title       : ' + this.document.title}}</pre>
    <pre class="mat">{{'Path        : ' + this.document.path}}</pre>
    <pre class="mat">{{'Content     : ' + this.document.content}}</pre>
    <pre class="mat">{{'Type        : ' + this.document.type}}</pre>
    <pre class="mat" *ngIf="this.document.employee">{{'Employee    : ' + this.document.employee.firstname + ' ' + this.document.employee.lastname +' '+ '(UUID : ' + this.document.employee.employeeId + ')'}}</pre>
    <pre class="mat" *ngIf="this.document.company">{{'Company     : ' + this.document.company.name + ' ' +  '(UUID : ' + this.document.company.companyId + ')'}}</pre>
    <pre class="mat" *ngIf="this.document.contract">{{'Contract    : ' + this.document.contract.description + ' ' + '(UUID : ' + this.document.contract.contractId + ')'}}</pre>
  </div>
</div>

