<div class="salary-container">
  <button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon>close</mat-icon>
  </button>
  <div class="header">
    <h2>Salary Detail</h2>
  </div>
  <div class="SalaryDetail">
    <pre class="mat">{{'Salary ID   : ' + this.salary.salaryId}}</pre>
    <pre class="mat">{{'Create date : ' + this.salary.createDate.toString()}}</pre>
    <pre class="mat">{{'Title       : ' + this.salary.title}}</pre>
    <pre class="mat">{{'Comment     : ' + this.salary.comment}}</pre>
    <pre class="mat">{{'Amount      : ' + this.salary.amount.toString()}}</pre>
    <pre class="mat" *ngIf="this.salary.employee">{{'Employee    : ' + this.salary.employee.firstname + ' ' + this.salary.employee.lastname +' '+ '(UUID : ' + this.salary.employee.employeeId + ')'}}</pre>
  </div>
</div>

