<div class="form-container">
  <form [formGroup]="formGroup" class="form" name="insert-form">
    <h1>{{'skill.insert-new-skill' | translate}}</h1>
    <mat-form-field appearance="fill">
      <mat-label>{{'skill.title' | translate}}</mat-label>
      <input #title matInput formControlName="title">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{'skill.description' | translate}}</mat-label>
      <input #description matInput formControlName="description">
    </mat-form-field>
    <button [disabled]="!formGroup.valid" mat-raised-button name="insert-button" type="submit" color="primary" (click)="insert(title.value, description.value)">{{'skill.save' | translate}}</button>
  </form>
</div>
