<div id="InsertContainer">

  <h1>{{'employee.employeeInsert' | translate}}</h1>

  <app-employee-field-prefab #prefab (formGroupEmitter$)="formGroupFromChild($event)"></app-employee-field-prefab>

  <div id="buttonDiv">
    <a [routerLink]="['/dashboard/employee']">
      <button mat-raised-button color="warn"> {{'employee.cancel' | translate}} </button>
    </a>

    <button mat-raised-button type="submit"
            class="insertButton"
            color="primary"
            (click)="insert(formGroup.value?.lastname, formGroup.value?.firstname,formGroup.value?.active, formGroup.value?.deletedBy,
            formGroup.value?.address, formGroup.value?.gender, formGroup.value?.birthday, formGroup.value?.ssin, formGroup.value?.status,
            formGroup.value?.deleted
           )"

            [disabled]="!formGroup.valid">
      {{'employee.insert' | translate}}
    </button>
  </div>

</div>
