<div class="form-container">
  <form class="form" [formGroup]="formGroup" (submit)="insert(title.value, path.value,content.value, type.value, date.value, selectedCompany, selectedContract, selectedEmployee); $event.preventDefault()">
    <h1> <span>{{"document.insertDocument" | translate}}</span></h1>
    <mat-form-field appearance="fill">
      <mat-label>{{"document.title" | translate}}</mat-label>
      <input #title formControlName="title" matInput>
      <mat-error *ngIf="formGroup.get('title')?.hasError('required')">
        {{"document.titleIs" | translate}}<strong>{{"document.required" | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{"document.path" | translate}}</mat-label>
      <input #path formControlName="path" matInput>
      <mat-error *ngIf="formGroup.get('path')?.hasError('required')">
        {{"document.pathIs" | translate}}<strong>{{"document.required" | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{"document.content" | translate}}</mat-label>
      <input #content formControlName="content" matInput>
      <mat-error *ngIf="formGroup.get('content')?.hasError('required')">
        {{"document.contentIs" | translate}}<strong>{{"document.required" | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{"document.type" | translate}}</mat-label>
      <input #type formControlName="type" matInput>
      <mat-error *ngIf="formGroup.get('type')?.hasError('required')">
        {{"document.typeIs" | translate}}<strong>{{"document.required" | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{"document.createDate" | translate}}</mat-label>
      <input #date formControlName="createDate" matInput  [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="formGroup.get('createDate')?.hasError('required')">
        {{"document.dateIs" | translate}}<strong>{{"document.required" | translate}}</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="company-form">
      <mat-label>{{"document.company" | translate}}</mat-label>
      <mat-select class="company-select" formControlName="company"  [(value)]="selectedCompany">
        <mat-option [value]="null">{{"document.none" | translate}}</mat-option>
        <mat-option class="employees-option" *ngFor="let company of companies" [value]="company">
          {{company.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="contract-form">
      <mat-label>{{"document.contract" | translate}}</mat-label>
      <mat-select class="employees-select" formControlName="contract"  [(value)]="selectedContract">
        <mat-option [value]="null">{{"document.none" | translate}}</mat-option>
        <mat-option class="employees-option" *ngFor="let contract of contracts" [value]="contract">
          {{contract.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="employees-form">
      <mat-label>{{"document.employee" | translate}}</mat-label>
      <mat-select class="employees-select" formControlName="employee"  [(value)]="selectedEmployee">
        <mat-option [value]="null">{{"document.none" | translate}}</mat-option>
        <mat-option class="employees-option" *ngFor="let employee of employees" [value]="employee">
          {{employee.lastname }} {{employee.firstname}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <div class="button-container">
      <button mat-raised-button color="warn" class="cancel-button" [mat-dialog-close]="true">{{"document.cancel" | translate}}</button>
      <button mat-raised-button type="submit" class="confirm-button" [mat-dialog-close]="true" [disabled]="!formGroup.valid" color="accent">{{"document.insertDocument" | translate}}</button>
    </div>
  </form>
</div>
