<div class="mainDiv">
  <div class="headerDiv">
    <h2>{{'fleet.fleetDetail' | translate}}</h2>
    <button mat-icon-button
            id="button"
            (click)="dialog.closeAll()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="fleetDetail">
    <pre>{{'fleet.fleetId' | translate}}{{'    : ' + data.fleetId}}</pre>
    <pre>{{'fleet.title' | translate}}{{'       : ' + data.title}}</pre>
    <pre>{{'fleet.description' | translate}}{{' : ' + data.description}}</pre>
    <pre>{{'fleet.type' | translate}}{{'        : ' + data.type}}</pre>
    <pre>{{'fleet.cost' | translate}}{{'        : ' + data.cost}}</pre>
    <pre *ngIf="data.employee">{{'fleet.employee' | translate}}{{'    : ' + data.employee.firstname + ' ' + data.employee.lastname + ' (UUID : ' + data.employee.employeeId + ')'}}</pre>
  </div>

</div>





