
.skills-container {
  width: 100%;
}

mat-table{
  display: table;
  table-layout: fixed;
  width: 100%;
}



.mat-form-field{
  margin-bottom: -1.25em;
}

.insert-skill-button {
  margin: 5px;
}

.insert-skill-button-container {
  position: fixed;
  bottom:40px;
  right:40px;
  opacity: 0.8;
}

.insert-skill-button-container:hover {
  cursor: pointer;
  opacity: 1;

}

.insert-skill-button:hover {
  cursor: pointer;
  //Nice box shadow
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



