<div class="form-container">
  <form class="form">
    <h1>Insert a new skill</h1>
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input #title matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <input #description matInput>
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary" (click)="insert(title.value, description.value)">Insert Skill</button>
  </form>
</div>


<div class="skills-container">
  <mat-table [dataSource]="dataSource" class="table-container">

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef>
        Title
      </mat-header-cell>
      <mat-cell *matCellDef="let skill">{{skill.title}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>
        Description
      </mat-header-cell>
      <mat-cell *matCellDef="let skill">{{skill.description}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="employees">
      <mat-header-cell *matHeaderCellDef>
        Employees
      </mat-header-cell>
      <mat-cell *matCellDef="let skill" class="employees-cell">
        <mat-form-field appearance="fill" class="employees-form">
          <mat-label>Employees</mat-label>
          <mat-select class="employees-select" >
            <mat-option class="employees-option" *ngFor="let employee of skill.employees" [value]="employee.lastname">
              {{employee.lastname }} {{employee.firstname}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button (click)="openDialog(element)" mat-icon-button [matMenuTriggerFor]="menu" matTooltip="More" class="iconbutton" color="primary">
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <form>
            <button mat-menu-item (click)="edit(element)">Edit</button>
            <button type="submit" mat-menu-item (click)="delete(element)">Delete</button>
          </form>
        </mat-menu>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let skill; columns: columnsToDisplay"></mat-row>
  </mat-table>
</div>



<!--<app-grid-view [headerColumns]="['Title', 'Description', 'Employees', 'Edit']" [rows]="dataSource"></app-grid-view>-->
