
.skills-container {
  width: 100%;
}

mat-table{
  display: table;
  table-layout: fixed;
  width: 100%;
}



.mat-form-field{
  margin-bottom: -1.25em;
}

.insert-skill-button {
  margin: 5px;
}

.insert-skill-button-container {
  display: flex;
  align-items: flex-end;
  height: 50px;
  margin: 6px;
}

.insert-skill-button {
}



