



<div class="skills-container">
  <div class="insert-skill-button-container">
    <button mat-fab class="insert-skill-button" color="primary" (click)="openInsertDialog()" aria-label="Example icon button with a delete icon">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <mat-table [dataSource]="dataSource" class="table-container">

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef>
        {{'skill.title' | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let skill">{{skill.title}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>
        {{'skill.description' | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let skill">{{skill.description}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="employees">
      <mat-header-cell *matHeaderCellDef>
        {{'skill.owner' | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let skill" class="employees-cell">
        <mat-form-field appearance="fill" class="employees-form">
          <mat-label>{{'skill.employeeList' | translate}}</mat-label>
          <mat-select class="employees-select" >
            <mat-option class="employees-option" *ngFor="let employee of skill.employees" [value]="employee.lastname">
              {{employee.lastname }} {{employee.firstname}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef> {{'skill.edit-skill' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button  mat-icon-button type="button" [matMenuTriggerFor]="menu" matTooltip="More" class="iconbutton" color="primary">
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <form>
            <button mat-menu-item type="button" (click)="openEditDialog(element)">{{'skill.edit-skill' | translate}}</button>
            <button type="submit" mat-menu-item (click)="delete(element)">{{'skill.delete-skill' | translate}}</button>
          </form>
        </mat-menu>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let skill; columns: columnsToDisplay"></mat-row>
  </mat-table>
</div>



<!--<app-grid-view [headerColumns]="['Title', 'Description', 'Employees', 'Edit']" [rows]="dataSource"></app-grid-view>-->
