.documents-container {
  width: 100%;
}

mat-table{
  display: table;
  table-layout: fixed;
  width: 100%;
}

.table-container {
  width: 100%;
}

.mat-header-cell {
  padding: 5px 10px;
}

.mat-cell {
  padding: 5px 10px;
}

.employees-cell {
  width: 200px;
}

.full-width {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
