.container {
  height: 100%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 72px;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px #CCC;
}
