
#main-container{
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  width: 100%;
}


#tableauInsert{
  width: 30%;
}


#columnIcon{
  margin-right: 5%;
}

#tableau{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 3%;
}

#fleets-container{
  display: table;
  table-layout: fixed;
  width: 95%;
  margin-left: 2.5%;
}

.mat-form-field{
  margin-bottom: -1.25em;
}

::ng-deep .mat-menu-panel p{
  padding: 10px 0 0 15px;
}

#paginator{
  width: 95%;
  margin-left: 2.5%;
}





