
#main-container{
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  width: 100%;
}


#tableauInsert{
  width: 30%;
}


.iconButton{

}

#columnSelectorDiv{
  display: flex;
}

#columnIcon{
  margin-right: 5%;
}

#fleets-container{
  display: table;
  table-layout: fixed;
  width: 95%;
}

#tableau{
  width: 100%;
  display: flex;
  justify-content: center;
}

#menuDelete p{


}
.mat-form-field{
  margin-bottom: -1.25em;
}

::ng-deep .mat-menu-panel p{
  padding: 10px 0 0 15px;

}





