
#main-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1.5%;
}

mat-toolbar{
  width: 95%;
  padding: 0 3%;
  margin-left: 2.5%;
  background: #3F51B5;
  justify-content: space-between;
}

mat-toolbar h2{
  color: white;
}

#column_selector{
  color: white;
}

#tableau{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1.5%;
}

mat-table{
  display: table;
  table-layout: fixed;
  width: 95%;
  margin-left: 2.5%;
}

.mat-form-field{
  margin-bottom: -1.25em;
}

::ng-deep .mat-menu-panel p{
  padding: 10px 0 0 15px;
}

#paginator{
  width: 95%;
  margin-left: 2.5%;
}

#AddButton{
  width: 5%;
  margin-left: 2.5%;
  margin-bottom: 1.5%;
}




