.mainDiv{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2%;

}

.form{
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
}


.formField{
  width: 30%;
}


.btnUpdate{
  background: green;
}
