<div class="form-container">
<form class="form" [formGroup]="formGroup" >
  <h1>{{"salary.editionOf" | translate}}</h1>
  <h2>{{editSalary.employee.firstname}} {{editSalary.employee.lastname}}</h2>
  <mat-form-field appearance="fill">
    <mat-label>{{"salary.date" | translate}}</mat-label>
    <input  [(ngModel)]="editSalary.createDate" [name]="editSalary.createDate.toString()" formControlName="createDate" matInput  [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="formGroup.get('createDate')?.hasError('required')">
      {{"salary.dateIs" | translate}}<strong>{{"salary.required" | translate}}</strong>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>{{"salary.title" | translate}}</mat-label>
    <input  [(ngModel)]="editSalary.title" [name]="editSalary.title" formControlName="title" matInput>
    <mat-error *ngIf="formGroup.get('title')?.hasError('required')">
      {{"salary.titleIs" | translate}}&nbsp;<strong>{{"salary.required" | translate}}</strong>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>{{"salary.comment" | translate}}</mat-label>
    <input  [(ngModel)]="editSalary.comment" [name]="editSalary.comment" formControlName="comment" matInput>
    <mat-error *ngIf="formGroup.get('comment')?.hasError('required')">
      {{"salary.commentIs" | translate}}&nbsp;<strong>{{"salary.required" | translate}}</strong>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>{{"salary.amount" | translate}}</mat-label>
    <input  [(ngModel)]="editSalary.amount" [name]="editSalary.amount.toString()" formControlName="amount" matInput>
    <mat-error *ngIf="formGroup.get('amount')?.hasError('required') || formGroup.get('amount')?.hasError('pattern')">
      {{"salary.amountIs" | translate}}&nbsp;<strong>{{"salary.required" | translate}}</strong>&{{"salary.onlyContainNumber" | translate}}<strong>{{"salary.numbers" | translate}}</strong>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" class="employees-form">
    <mat-label>{{"salary.employee" | translate}}</mat-label>
    <mat-select [(ngModel)]="editSalary.employee" class="employees-select" formControlName="employee">
      <mat-option class="employees-option" *ngFor="let employee of employees" [value]="employee">
        {{employee.lastname }} {{employee.firstname}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="formGroup.get('employee')?.hasError('required')">
      {{"salary.employeeIs" | translate}}&nbsp;<strong>{{"salary.required" | translate}}</strong>
    </mat-error>
  </mat-form-field>
  <br>
  <div class="button-container">
    <button mat-raised-button color="warn" class="cancel-button" [mat-dialog-close]="true">{{"salary.cancel" | translate}}</button>
    <button mat-raised-button type="submit" class="confirm-button" [mat-dialog-close]="true" [disabled]="!formGroup.valid" color="accent" (click)="edit()">{{"salary.editSalary" | translate}}</button>
  </div>
</form>
</div>
