#title{
  text-decoration: none;
  color: white;
}




.example-spacer {
  flex: 1 1 auto;
}

.drawer-container {
  width: 100%;
  height: calc(100vh - 64px);
  flex: 1 1 auto;
}

.drawer-content {
  display: flex;
}

.sidenav {
  width: 160px;
}

.sidenav-icon {
  margin-right: 20px;
}


