<div>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a [routerLink]="['/dashboard/home']" id="title">
      <h1>PronHub</h1>
    </a>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>settings</mat-icon>
    </button>
    <button (click)="logout()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
</div>

<div class="sidenav-container">
  <mat-drawer-container class="drawer-container">
    <mat-drawer #sidenav class="sidenav" mode="side" [opened]="true">
      <mat-nav-list role="navigation">
        <a [routerLink]="['/dashboard/home']">
          <mat-list-item>
            <mat-icon class="sidenav-icon">home</mat-icon>
            Home
          </mat-list-item>
        </a>
        <mat-list-item>
          <mat-icon class="sidenav-icon">apartment</mat-icon>
          Enterprise
        </mat-list-item>
        <mat-list-item>
          <mat-icon class="sidenav-icon">diversity_3</mat-icon>
          Employees
        </mat-list-item>
        <mat-list-item>
          <mat-icon class="sidenav-icon">description</mat-icon>
          Contracts
        </mat-list-item>
        <mat-list-item>
          <mat-icon class="sidenav-icon">folder_open</mat-icon>
          Documents
        </mat-list-item>
        <mat-list-item>
          <mat-icon class="sidenav-icon">schedule</mat-icon>
          Timesheet
        </mat-list-item>
        <a [routerLink]="['/dashboard/fleets']">
          <mat-list-item>
            <mat-icon class="sidenav-icon">groups</mat-icon>
            Fleets
          </mat-list-item>
        </a>
        <mat-list-item>
          <mat-icon class="sidenav-icon">paid</mat-icon>
          Salary
        </mat-list-item>
        <a [routerLink]="['/dashboard/skills']">
          <mat-list-item>
            <mat-icon class="sidenav-icon">square_foot</mat-icon>
            Skills
          </mat-list-item>
        </a>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content class="drawer-content">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
