<div class="mainDiv">

  <h1>{{'employee.employeeEdit' | translate}}</h1>

  <mat-form-field id="idField" appearance="fill">
    <mat-label>{{'employee.employeeId' | translate}}</mat-label>
    <input matInput [value]="this.employeeId" disabled>
  </mat-form-field>

  <app-employee-field-prefab #prefab (formGroupEmitter$)="formGroupFromChild($event)"></app-employee-field-prefab>

  <div id="buttonDiv">
    <button mat-raised-button color="warn"
            [routerLink]="['/dashboard/employee']"
    >
      {{'employee.cancel' | translate}}
    </button>
    <button mat-raised-button class="btnUpdate"
            color="accent"
            (click)="update()"
            [disabled]="!this.formGroup.valid"
    >{{'employee.update' | translate}}</button>
  </div>

</div>
