
<div class="form-container">
  <form class="form" name="insert-form">
    <h1>Edit an existing timesheet</h1>
    <mat-form-field appearance="fill">
      <mat-label>Owner Employee</mat-label>
      <mat-select [formControl]="toppings" class="employees-select" [(ngModel)]="selectedEmployee" [compareWith]="compareToppings">
        <mat-option class="employees-option" *ngFor="let employee of this.allEmployeeList" [value]="employee">
          {{employee.lastname }} {{employee.firstname}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>SelectedContract</mat-label>
      <mat-select [formControl]="toppings2" class="employees-select" [(ngModel)]="selectedContract" [compareWith]="compareToppings2">
        <mat-option class="employees-option" *ngFor="let contract of this.allContractList" [value]="contract">
          {{contract.description}} ({{contract.contractId }})
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label  >Timesheet Start Date</mat-label>
      <input matInput [matDatepicker]="picker" name="startDatePicker" [(ngModel)]="startDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="time" name="startHours" [(ngModel)]="startHoursString" placeholder="Starting Time" value="8:30" #startHours1>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="time" name="endHours" [(ngModel)]="endHoursString" placeholder="End Time" value="16:30">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Timesheet Type</mat-label>
      <input matInput [(ngModel)]="timesheetType" name="timesheetType">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Comment</mat-label>
      <textarea [(ngModel)]="comment" name="comment" matInput></textarea>
    </mat-form-field>

    <button mat-raised-button name="insert-button" type="submit" color="primary" (click)="update(startDate, startHoursString, endHoursString, comment, timesheetType, selectedContract.contractId!, selectedEmployee.employeeId!)">Edit Skill</button>
  </form>
</div>
