<div>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>PronHub</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</div>

  <div class="sidenav-container">
    <mat-drawer-container class="drawer-container">
      <mat-drawer #sidenav class="sidenav" mode="side" [opened]="true">
        <mat-nav-list role="navigation">
          <a [routerLink]="['/home']">
            <mat-list-item>
              <mat-icon class="sidenav-icon">home</mat-icon>
              Home
            </mat-list-item>
          </a>
          <mat-list-item>
            <mat-icon class="sidenav-icon">search</mat-icon>
            Search
          </mat-list-item>
          <mat-list-item>
            <mat-icon class="sidenav-icon">share</mat-icon>
            Share
          </mat-list-item>
          <a [routerLink]="['/skills']">
            <mat-list-item>
              <mat-icon class="sidenav-icon">
                format_list_bulleted
              </mat-icon>
              Skills
            </mat-list-item>
          </a>
          <mat-list-item>
            <mat-icon class="sidenav-icon">settings</mat-icon>
            Settings
          </mat-list-item>
        </mat-nav-list>
      </mat-drawer>
      <mat-drawer-content class="drawer-content">
        <router-outlet></router-outlet>
      </mat-drawer-content>
  </mat-drawer-container>
</div>
