
.example-spacer {
  flex: 1 1 auto;
}

.drawer-container {
  width: 100%;
  height: calc(100vh - 64px);
}

.drawer-content {
  display: flex;
}

.sidenav {
  width: 150px;
}

.sidenav-icon {
  margin-right: 20px;
}
